<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>Welcome To The CD Organiziation Program</h1>
        <p>
        <h2>Enter your favorite artist below</h2>
          <a href="/artist_page"> Enter Artist Below</a>
        </p>
        <h2>Click here to see your list</h2>
        <a href="/artist_page/new"> See that list</a>
      </div>

    </div>

  </div>


</div>
